<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Place Orders</h1>
    <form action="/orders/add/<%= menu._id %> " method="post" class="form-container">
        <label for="">Customer Name
            <input type="text" name="customer" id="">
            <input type="hidden" name="menu">
            <input type="hidden" name="order_date">
            <input type="hidden" name="cost" value="<%= menu.price %> ">
            <input type="hidden" name="paid">
            <input type="hidden" name="status" value="<%= menu.status %>">
        </label>
        <br>
        <br>
        <button type="submit" value="Submit" class="form-btn">Submit</button>
    </form>

    <h2>Order Details</h2>
    <p>Menu: <%= menu.name %></p> 
    <p>Price: <%= menu.price %></p>
    <p>Remarks: <%= menu.remarks %></p>
</body>
</html>